mypy;implementation_name=="cpython"
pytest
pytest-cov
pytest-flake8
pytest-mypy;implementation_name=="cpython"
pytest-black;implementation_name=="cpython"
pytest-benchmark
hypothesis
tox
dataclasses
msgpack
varname
